.pos .product .product-qty {
    position: absolute;
    top: 2px;
    left: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}
.pos .product .product-qty-low {
    position: absolute;
    top: 40px;
    left: 95px;
    vertical-align: center;
    color: white;
    line-height: 13px;
    background: red;
    padding: 2px 5px;
    border-radius: 2px;
    float:left !important;
}
.ui-autocomplete{
    position: relative;
    top: 589.708px !important;
    left: 60px !important;
    width: 200px;
    z-index:1 !important;
}

